.team-profiles-card {
    border-radius: 12px !important;
    border-color: #e2e8f0 !important;
    padding: 10px 24px;
}

.team-profiles-card__title {
    font-weight: 700 !important;
    color: #0f172a;
    margin-bottom: 26px !important;
}

.team-profiles-card__team-name {
    color: #94a3b8 !important;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 12px;
}

.team-profiles-card__member-details {
    display: flex;
    flex-direction: row;
        align-items: center;
}

.team-profiles-card__avatar {
    width: 50px !important;
    height: 50px !important;
    background-color: #93c5fd !important;
    color: #1e3a5f !important;
    font-weight: 700 !important;
}

.team-profiles-card__name {
    font-weight: 600 !important;
    color: #0f172a;
}

.team-profiles-card__role {
    color: #64748b;
    padding-left: 6px;
}

.team-profiles-card__email{
    color: #334155;
}